*.bak
*.log
.coverage*
.history/
.idea/
.mypy_cache/
.pytest_cache/
.settings.io_aero.toml
/.temp/
/app-*
/build/
/config/.act_secrets
/data/*_postgres.zip
/data/postgres/
/data/postgres_test/
/dist/
/docs/build/doctrees/
/docs/build/pdf/.doctrees
/docs/build/pdf/manual.rtc
/docs/build/pdf/manual.stylelog
/temp/
Pipfile.lock
__pycache__
coverage.lcov
iotemplateapp.egg-info/
