.coverage
.history/
.idea/
.mypy_cache/
.pytest_cache/
.settings.io_aero.toml
/.act_secrets
/data/*_postgres.zip
/data/postgres/
/data/postgres_test/
Pipfile.lock
__pycache__
coverage.lcov
iotemplateapp.egg-info/
logging_*.log
resources/Gammadyne/timer.txt
run_*.log
